## JSON-RPC listen URL
#rpc_listen="tcp://127.0.0.1:25550"

## IRC listen URL
irc_listen = "tcp://0.0.0.0:6667"
#irc_listen="tls://0.0.0.0:6697"

## TLS certificate path if IRC acceptor uses TLS (optional)
#irc_tls_cert = "/etc/letsencrypt/ircd/fullchain.pem"

## TLS secret key path if IRC acceptor uses TLS (optional)
#irc_tls_secret = "/etc/letsencrypt/ircd/privkey.pem"

## List of channels to autojoin for new client connections
autojoin = ["#dev", "#memes", "#philosophy", "#markets", "#math", "#random"]

## Daemon specific password (optional, but once you configure it,
## it is required from the client side)
#password="CHANGE_ME"

## P2P net settings
[net]
## Connection slots
outbound_connections = 5

## P2P accept addresses
#inbound = ["tls://0.0.0.0:25551"]
# ipv6 version:
#inbound = ["tls://[::]:25551"]
inbound = ["tcp://0.0.0.0:25551"]

## Seed nodes to connect to 
seeds = ["tls://lilith0.dark.fi:25551", "tls://lilith1.dark.fi:25551"]

# Prefered transports for outbound connections
outbound_transports = ["tls", "tor"]
